@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: #000000;
    color: white;
    overflow-x: hidden;
}

header {
    background-image: url("assets/background.jpg");
    height: 94vh;
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center;
}

header .box {
    height: 94vh;
    width: 100%;
    inset: 0;
    position: absolute;
    z-index: 0;
    background:
        radial-gradient(ellipse at center, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.95) 130%, rgba(0, 0, 0, 0.85) 100%),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.55) 15%, rgba(0, 0, 0, 0.95) 550%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 10;
}

.net-logo {
    height: 80px;
    width: 160px;
}


.lang-select {
    position: relative;
    height: 32px; 
    width: 130px;              
    display: inline-flex;       
    align-items: center;        
    background-color: rgba(25, 25, 25, 0.5);
    border: 1px solid white;
    border-radius: 4px;
    padding: 0px 6px;            
}

.lang-img {
    position: absolute;
    width: 42px;               
    height: 42px;              
    object-fit: contain;
    margin: 0;
}

select {
    background-color: transparent;
    color: white;
    position: relative;
    left: 26px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    margin-left: 6px;         
    outline: none;
    cursor: pointer;
}
select option {
    background-color: #fff;
    color: #000;
}

.btn-sign {
    background-color: #E50914;
    color: white;
    height: 32px;
    padding: 6px 10px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
    min-height: calc(80vh - 100px);
    position: relative;
    width: 100%; 
    max-width: 800px;
    margin: auto;
    gap: 10px;
    text-align: center;
    padding: 0 20px;
}

.compl {
    font-size: clamp(28px, 4vw, 56px);
    margin: 99px 0px 16px;
    font-weight: 730;
    margin-bottom: 16px;
}

.plan {
    font-size: clamp(16px, 2.5vw, 20px);
    font-weight: 600;
    margin-bottom: 20px;
    font-weight: bolder;
}

.search {
    padding: 16px 0px 0px;
    display: flex;
    gap: 4px;
    max-width: 600px;
    width: 100%;
    justify-content: center;
}

.search-btn {
    padding: 12px 24px;
    background: #E50914;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.search-btn a {
    text-decoration: none;
    color: #fff;
}

.content input {
    flex: 1;
    padding: 16px;
    background-color: rgba(25, 25, 25, 0.5);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: 0.15px solid lightgrey;
    border-radius: 5px;
}

.curved-style {
    position: relative;
    height: 80px;
    background: radial-gradient(ellipse at top, #0a0f2c 2%, #000 100%);
    overflow: hidden;
}

.curved-style::before {
    position: absolute;
    background: radial-gradient(ellipse at top, rgba(255, 0, 76, 1)15%,
            rgba(255, 0, 76, .8)10%,
            rgba(255, 0, 76, 0.1)100%);
    height: 5px;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    border-radius: 50% 50% 0 0 / 100% 100% 0 0; 
}


.container {
    height: auto; 
    min-height: 350px;
    max-width: 1200px;
    width: 90%; 
    margin: 40px auto 80px auto; 
}

.section-title {
    font-size: 22px;
    font-weight: 605;
    margin-bottom: 16px;
    color: white;
}

.slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding-bottom: 20px; 
}

.slider::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    flex: 0 0 auto;
    height: 290px;
    width: 200px;
    scroll-snap-align: start;
    overflow: visible;
    border-radius: 8px;
    padding: 15px 10px;
    transition: transform 0.2s ease-in-out;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.number {
    font-family: "Anton", sans-serif;
    position: absolute;
    bottom: 2px;
    left: -0.01px;
    font-size: 92px;
    color: #000000;
    -webkit-text-stroke: 0.001px #fff;
    font-weight: 900;
}

.card:hover {
    transform: scale(1.1);
    z-index: 10;
}

.container2 {
    max-width: 1200px;
    position: relative;
    top: -46px;
    width: 90%;
    margin: 0 auto 80px auto; 
}

.section-title2 {
    font-size: 24px;
    font-weight: 505;
    margin-bottom: 16px;
    color: white;
}

.section {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.card2 {
    background: linear-gradient(180deg, #1A1F41 50%, #1F1526 100%);
    border-radius: 12px;
    padding: 25px;
    min-height: 284px;
    flex: 1;
    min-width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    gap: 15px;
}

.card2 h3 {
    font-size: 24px;
    font-weight: 500;
}

.card2 p {
    font-size: 16px;
    color: #FFFFFFB3;
    line-height: 1.4;
}

.card2 img {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 72px;
    height: 72px;
    object-fit: contain;
}

.viewimg1, .viewimg2, .viewimg3, .viewimg4 {
    left: auto; top: auto;
}


.container3 {
    margin: 80px auto;
    position: relative;
    top: -60px;
    max-width: 1200px;
    width: 90%;
    color: white;
}

.section-title3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.accordion {
    background-color: #2d2d2d;
    color: white;
    cursor: pointer;
    padding: 24px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
    font-weight: 400;
    transition: 0.3s;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
}

.accordion:hover {
    background-color: #414141;
}

.icon {
    font-size: 36px;
    font-weight: 300;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.active .icon {
    transform: rotate(45deg);
}

.panel {
    padding: 0 24px;
    background-color: #2d2d2d;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 8px;
    margin-top: -7px;
}

.panel p {
    font-size: 20px;
    padding: 24px 0;
}

.content2 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content2 span {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.search2 {
    padding: 0;
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: center;
    max-width: 600px;
}

.search-btn2 {
    padding: 12px 24px;
    background-color: #E50914;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.search-btn2 a {
    text-decoration: none;
    color: #fff;
}

.content2 input {
    flex: 1;
    padding: 16px;
    background-color: rgba(25, 25, 25, 0.5);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: 0.15px solid lightgrey;
    border-radius: 5px;
}


footer {
    margin: 50px auto;
    max-width: 1200px;
    width: 90%;
    color: white;
    padding-bottom: 50px;
}

.call {
    font-size: 14px;
    color: #FFFFFFB3;
    font-weight: 450;
    margin-bottom: 20px;
}

.call a { color: #FFFFFFB3; text-decoration: underline; }

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.foot {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.foot a { color: #FFFFFFB3; text-decoration: underline; }

.lang-select2 {
    position: relative;
    height: 32px; 
    width: 130px; 
    margin-top: 64px;             
    display: inline-flex;       
    align-items: center;        
    background-color: rgba(25, 25, 25, 0.5);
    border: 1px solid white;
    border-radius: 4px;
    padding: 0px 6px;  
}

.lang-img2 {
    position: absolute;
    width: 42px;               
    height: 42px;              
    object-fit: contain;
    margin: 0;
}

.para1 {
    font-size: 14px;
    font-weight: 450;
    margin-bottom: 32px;
    color: #FFFFFFB3;
}

.para {
    font-size: 0.8rem;
    margin-top: 30px;
    color: #FFFFFFB3;
}

.learn{
    color: #448EF4;
}

/*responsvie*/

@media screen and (max-width: 900px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    /* --- Mobile Header --- */
    nav { padding: 15px; }
    .btn-sign { padding: 4px 8px; font-size: 12px; }
    
    .content { width: 100%; padding: 0 15px; }
    .search { flex-direction: column; gap: 10px; }
    .search-btn { width: 100%; font-size: 18px; }
    
    /* --- Mobile Trending --- */
    .container { 
        height: auto; 
        margin-bottom: 60px; 
    }

    /* --- Mobile "More Reasons" --- */
    .section { 
        flex-direction: column; 
    } 
    .card2 { 
        width: 100%; 
        min-height: 200px;
        padding-bottom: 90px; 
    }
    
    /* --- Mobile FAQ --- */
    .container3 { margin-top: 40px; }
    .accordion { font-size: 18px; padding: 15px; }
    .panel p { font-size: 16px; }
    
    .search2 { flex-direction: column; gap: 10px; }
    .search-btn2 { width: 100%; }

    /* --- Mobile Footer --- */
    .footer-grid {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .foot a { margin-bottom: 15px; }
    footer { text-align: left; }
    
    .curved-style { height: 50px; }
    .curved-style::before { transform: scaleX(1.3); }
}